@{
    ViewData["Title"] = "Get to Know Joel Hilton";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to the page all about Joel Hilton, aka the Side Quest King!</p>

<br />

<div class="intro">
    <h2>Who is Joel Hilton?</h2>
    <p>Joel Hilton is a film critic with a deep background in Film Studies from BYU, and he brings his expertise to his work as a movie reviewer for ClearPlay 
        and the host of the Baconsale podcast. With a keen eye for quality, Joel curates a growing movie collection of 
        only the most worthy films, tracking them meticulously in a personalized system.</p>
</div>


<div class="Baconsale">
    <h2>Baconsale</h2>
    <p>Joel Hilton is a passionate film enthusiast who brings his expertise and humor to Baconsale, a family-friendly pop culture podcast where he and his co-hosts 
        dive into movies, music, TV, food, video games, and more. With a background in Film Studies from BYU and experience as a movie reviewer for ClearPlay, 
        Joel offers insightful commentary, witty debates, and deep-cut film knowledge that elevate each episode. Whether he's analyzing blockbuster hits, uncovering 
        hidden gems, or playfully sparring with his co-hosts, Joel's love for cinema and pop culture shines through, making Baconsale an entertaining and engaging experience for listeners.</p>
   
    <a href="https://baconsale.com/">Visit the Baconsale Webpage</a>
    <a href="https://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" asp-append-version="true" height="500px" class="img-fluid"/></a>
</div>

<br />

<div class="QuickWits">
    <h2>Quick Wits Comedy</h2>
    <p>Joel Hilton is a key member of Quick Wits, an improvisational comedy troupe that brings fast-paced, audience-driven comedy to Utah. 
        With his sharp wit and years of experience, Joel helps transform spontaneous audience suggestions into hilarious, unscripted performances. 
        Quick Wits is known for its high-energy shows, reminiscent of Whose Line Is It Anyway?, where anything can happen and no two performances 
        are ever the same. Whether you're looking for clever wordplay, outrageous characters, or quick-thinking humor, Joel and the Quick Wits team 
        guarantee a night full of laughter.</p>
    <a href="https://www.qwcomedy.com/">Visit Quick Wits Comedy Webpage</a>
</div>

<br />