@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
    <p>Learn all about Joel Hilton, his film studies and ratings, weekly podcast and stand up comedy!</p>
    <img src="~/img/joelhiltonheadshot.jpg" height="500px" />
</div>
